/src/Pixsys.Library.ScheduledTasks.Quartz/.build/CakeRelease/Semantic/
/src/Pixsys.Library.ScheduledTasks.Quartz/.config/CakeRelease.settings.json
/src/Pixsys.Library.ScheduledTasks.Quartz/.build/CakeRelease/
/src/Pixsys.Library.ScheduledTasks.Quartz/.vs/
/src/Pixsys.Library.ScheduledTasks.Quartz/Pixsys.Library.ScheduledTasks.Quartz/bin/
/src/Pixsys.Library.ScheduledTasks.Quartz/Pixsys.Library.ScheduledTasks.Quartz/obj/
